@import "~variables.scss";

.header-top {
    background-color: $lite-purple;
    display: flex;
    align-items: center;
    height: 66px;
}

.logo-container {
   width: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-container img {
    width: 50px;
    height: 50px;
}

.title {
    color: #fff;
    font-size: 24px;
}

.header-bottom {
    background-color: $purple;    
}

.user-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}