.icon-cards-container {
    display: flex;
    margin: 28px 0;
}

.icon-card {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 12px;
}


.icon-cards-container .icon-card:first-child{
    margin-left: 0;
}

.icon-cards-container .icon-card:last-child{
    margin-right: 0;
}