@import "~variables.scss";

.graph-cards-container {
    display: flex;
    margin: 28px 0 ;
}

.avg-speed-card {
    border-left: 3px solid $pink;
    margin-right: 12px;
}

.signal-strength-card {
    border-left: 3px solid $purple;
    margin-left: 12px;
}

.mat-card {
    flex-grow: 1;
    display: flex;
    flex-basis: 0;
}

.title, .value {
    flex-grow: 1;
}

.title {
    color: $grey-title;
    font-size: 20px;
}

.value {
    text-align: right;
    font-size: 50px;
    color: $pink;
}

.signal-value {
    text-align: right;
    font-size: 24px;
}

.low {
    color: $purple;
}

.high {
    color: $pink;
}