<div class="loco-gps-table-container">
  <mat-card>
    <mat-table [dataSource]="locoGpsData">
      <ng-container matColumnDef="locoId">
        <mat-header-cell *matHeaderCellDef>LOCO ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.loco_i}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="trainId">
        <mat-header-cell *matHeaderCellDef>TRAIN ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.train_i}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="deviceId">
        <mat-header-cell *matHeaderCellDef>DEVICE ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.device_i}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef>LAT</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.latitude_m}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="long">
        <mat-header-cell *matHeaderCellDef>LONG</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.longitude_m}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="speed">
        <mat-header-cell *matHeaderCellDef>SPEED</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.loco_speed_m}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="signalStrength">
        <mat-header-cell *matHeaderCellDef>STRENGTH</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.signal_strength_m}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="signalQuality">
        <mat-header-cell *matHeaderCellDef>QUALITY</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.signal_quality_c}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="subdivision">
        <mat-header-cell *matHeaderCellDef>SUBDIVISION</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trans_subdiv_c}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="reportDate">
        <mat-header-cell *matHeaderCellDef>DATE</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.report_est_d}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>
